.hotels {
  width: 1441px;
  margin: 0 auto;
  background: #f4f4f4;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: #424242;
}

.exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  &_text {
    font-weight: 400;
    font-size: 16px;
    color: #41522e;
  }
}

.body {
  width: 1048px;
  margin-left: 208px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.right {
  width: 360px;
}

.search {
  padding: 32px;
  background: #fff;
  margin-bottom: 24px;

  &_inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;
      height: 76px;
      font-size: 16px;
      line-height: 19px;
      color: #424242;
      font-weight: 500;
      &_location {
        width: 155px;
        height: 80px;
      }
      &_date {
        width: 155px;
      }
      &_days {
        width: 45px;
      }
    }
    &_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 18px;
      width: 296px;
      height: 50px;
      background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #fff;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
          linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
      }
    }
  }
}

.favorite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  background: #fff;
}

  .title {
    font-weight: 500;
    font-size: 24px;
    color: #424242;
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #99a0a3;

    &_rate {
      display: flex;
      align-items: flex-start;
      padding: 4px 8px;
      gap: 4px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      width: 73px;
      cursor: pointer;
      height: 20px;

      &img {
        margin-left: 10px;
      }
      &_active {
        color: #41522e;
        border: 1px solid #41522e;
      }
      &:hover {
        color: #41522e;
        border: 1px solid #41522e;
      }
    }

    &_price {
      display: flex;
      align-items: flex-start;
      padding: 4px 8px;
      width: 55px;
      height: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      cursor: pointer;
      &_active {
        color: #41522e;
        border: 1px solid #41522e;
      }
      &:hover {
        color: #41522e;
        border: 1px solid #41522e;
      }
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 296px;
  }

    .hotel {
      width: 296px;
      height: 74px;

      &_title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        color: #424242;
      }
      &_dates {
        font-weight: 400;
        font-size: 14px;
        color: #878787;
        margin-top: 5px;
        span {
          margin-right: 18px;
        }
      }
      &_price {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &_stars {
          margin-top: 10px;
        }

        &_text {
          font-weight: 300;
          font-size: 11px;
          color: #878787;
          margin-right: 20px;
        }
        &_count {
          font-weight: 400;
          font-size: 17px;
          color: #424242;
        }
      }

      &_line {
        height: 1px;
        margin-top: 8px;
        background: rgba(135, 135, 135, 0.2);
        border-radius: 8px;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }

  }


.left {
  margin-left: 24px;
  gap: 28px;
  width: 664px;
  background: #fff;
  padding: 48px 32px 0 32px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_text {
    font-weight: 500;
    font-size: 32px;
    color: #424242;
    span {
      margin-right: 20px;
    }
  }
  &_date {
    font-weight: 400;
    font-size: 24px;
    color: #41522e;
  }
}

.carousel {
  margin-top: 28px;
  height: 149px;
  width: 600px;

  img {
    width: 164px;
    height: 149px;
    border-radius: 10px;
    margin-right: 12px;
  }
}

.main {
  width: 600px;
  height: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  background: #fff;

  &_title {
    font-weight: 300;
    font-size: 17px;
    color: #424242;

    span {
      margin-right: 4px;
      margin-left: 7px;
      font-weight: 500;
      color: #41522e;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }

    .hotel {
      width: 584px;
      height: 99px;

      &_image {
        margin-top: 14px;
        margin-left: 14px;
        position: absolute;
      }

      &_title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        margin-left: 84px;
        color: #424242;
      }
      &_dates {
        font-weight: 400;
        font-size: 14px;
        color: #878787;
        margin-top: 5px;
        margin-left: 84px;
        span {
          margin-right: 18px;
        }
      }
      &_price {

        margin-left: 84px;

        &_stars {
          margin-top: 10px;
        }

        &_text {
          font-weight: 300;
          font-size: 11px;
          color: #878787;
          margin-right: 20px;
        }
        &_count {
          font-weight: 400;
          font-size: 17px;
          color: #424242;
        }
      }

      &_line {
        height: 1px;
        margin-top: 8px;
        background: rgba(135, 135, 135, 0.2);
        border-radius: 8px;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }

}
