.hotels {
  width: 1441px;
  margin: 0 auto;
  background: #f4f4f4;
  height: 100%;
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 32px;

    &_title {
      font-weight: 500;
      font-size: 24px;
      color: #424242;
    }
    &_exit {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      &-text {
        font-weight: 400;
        font-size: 16px;
        color: #41522e;
      }
    }
  }
  &__body {
    width: 1048px;
    margin-left: 208px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &_right {
      width: 360px;
    }

    &_left {
      margin-left: 24px;
      gap: 28px;
      width: 664px;
      background: #fff;
      padding: 48px 32px 0 32px;
    }

    &_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-text {
        font-weight: 500;
        font-size: 32px;
        color: #424242;
        span {
          margin-right: 20px;
        }
      }
      &-date {
        font-weight: 400;
        font-size: 24px;
        color: #41522e;
      }
    }
  }
  &__search {
    padding: 32px;
    background: #fff;
    margin-bottom: 24px;
    &_inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &_items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;
      height: 76px;
      font-size: 16px;
      line-height: 19px;
      color: #424242;
      font-weight: 500;
    }

    &_location {
      width: 155px;
      height: 80px;
    }
    &_date {
      width: 155px;
    }
    &_days {
      width: 45px;
    }
    &_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 18px;
      width: 296px;
      height: 50px;
      background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #fff;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
          linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
      }
    }
  }
  &__favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    background: #fff;

    &_title {
      font-weight: 500;
      font-size: 24px;
      color: #424242;
    }
    &_filters {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #99a0a3;
    }
    &_rate {
      display: flex;
      align-items: flex-start;
      padding: 4px 8px;
      gap: 4px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      width: 73px;
      cursor: pointer;
      height: 20px;

      &img {
        margin-left: 10px;
      }
      &-active {
        color: #41522e;
        border: 1px solid #41522e;
      }
      &:hover {
        color: #41522e;
        border: 1px solid #41522e;
      }
    }

    &_price {
      display: flex;
      align-items: flex-start;
      padding: 4px 8px;
      width: 55px;
      height: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      cursor: pointer;
      &-active {
        color: #41522e;
        border: 1px solid #41522e;
      }
      &:hover {
        color: #41522e;
        border: 1px solid #41522e;
      }
    }
    &_block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;
      width: 296px;
    }
    &_hotel {
      width: 296px;
      height: 74px;

      &-title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        color: #424242;
      }
      &-dates {
        font-weight: 400;
        font-size: 14px;
        color: #878787;
        margin-top: 5px;
        span {
          margin-right: 18px;
        }
      }
      &-price {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      &-stars {
        margin-top: 10px;
      }

      &-text {
        font-weight: 300;
        font-size: 11px;
        color: #878787;
        margin-right: 20px;
      }
      &-count {
        font-weight: 400;
        font-size: 17px;
        color: #424242;
      }
      &-line {
        height: 1px;
        margin-top: 8px;
        background: rgba(135, 135, 135, 0.2);
        border-radius: 8px;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }
  }
  &__carousel {
    margin-top: 28px;
    height: 149px;
    width: 600px;

    img {
      width: 164px;
      height: 149px;
      border-radius: 10px;
      margin-right: 12px;
    }
  }
  &__main {
    width: 600px;
    height: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    background: #fff;

    &_title {
      font-weight: 300;
      font-size: 17px;
      color: #424242;

      span {
        margin-right: 4px;
        margin-left: 7px;
        font-weight: 500;
        color: #41522e;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 15px;
    }

    &_hotel {
      width: 584px;

    }

    &_image {
      margin-top: 14px;
      margin-left: 14px;
      position: absolute;
    }

    &_title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
      margin-left: 84px;
      color: #424242;
    }
    &_dates {
      font-weight: 400;
      font-size: 14px;
      color: #878787;
      margin-top: 5px;
      margin-left: 84px;
      span {
        margin-right: 18px;
      }
    }
    &_price {
      margin-left: 84px;

      &-stars {
        margin-top: 10px;
      }

      &-text {
        font-weight: 300;
        font-size: 11px;
        color: #878787;
        margin-right: 20px;
      }
      &-count {
        font-weight: 400;
        font-size: 17px;
        color: #424242;
      }
    }

    &_line {
      height: 1px;
     margin: 5px 0 5px 0;
      background: rgba(135, 135, 135, 0.2);
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }
}
